.resto-container {
  position: relative;
  text-align: center;
  color: white;
  margin: 20px
}

.resto-image {
  width: 400px;
  height: 300px;
  cursor: pointer
}

.resto-container:hover{
    animation-name: spin;
    animation-duration: 0.7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
}

.resto-name {
    position: absolute;
    top: 8px;
    left: 16px;
    font-family: 'Permanent Marker', cursive;;
    color: white;
    font-size: 1.5em;
    text-shadow: 0 0 3vw black;
    animation: textshadow 2s linear infinite;
    -moz-animation: textshadow 2s linear infinite;
   -webkit-animation: textshadow 2s linear infinite;
    -o-animation: textshadow 2s linear infinite;
}

@keyframes textshadow {
  100% {
    text-shadow: 0 0 1vw black
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  30% {
    transform: rotate(20deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (max-width: 770px) {
  .resto-image {
    width: 300px;
    height: 200px;
  }

  #resto-imageID  {
    width: 300px !important;
    height: 200px !important;
  }
}